body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #fdfdfd;
    color: #333;
}

header {
    background-color: #f5f5f5;
    padding: 15px;
    border-bottom: 2px solid darkred;
}

h1, h2 {
    color: darkred;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
}

img {
    margin: 10px;
    border-radius: 8px;
}
